.vs/
.idea/libraries/
.idea/workspace.xml
example/.idea/libraries/
example/.idea/workspace.xml

.DS_Store
.dart_tool/

.packages
.pub/
pubspec.lock

build/
ios/.generated/
ios/Flutter/Generated.xcconfig
ios/Runner/GeneratedPluginRegistrant.*
.flutter-plugins
