.vs/
.vscode/
.idea/libraries/
.idea/workspace.xml
.idea/tasks.xml
.idea/usage.statistics.xml

.DS_Store
.dart_tool/

.packages
.pub/

build/
ios/.generated/
ios/Flutter/Generated.xcconfig
ios/Runner/GeneratedPluginRegistrant.*
.flutter-plugins
pubspec.lock

# Coverage
coverage.json
coverage/*

# example config files
packages/graphql_flutter/example/lib/local.dart

# example build files
packages/graphql_flutter/example/android/.project
packages/graphql_flutter/example/android/.settings/
packages/graphql_flutter/example/android/app/.classpath
packages/graphql_flutter/example/android/app/.project
packages/graphql_flutter/example/android/app/.settings/

packages/graphql/example/android
packages/graphql/example/ios
