.vs/
.vscode/
.idea/libraries/
.idea/workspace.xml
.idea/tasks.xml
.idea/usage.statistics.xml

.DS_Store
.dart_tool/

.packages
.pub/
pubspec.lock

build/
ios/.generated/
ios/Flutter/Generated.xcconfig
ios/Runner/GeneratedPluginRegistrant.*
.flutter-plugins
